<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/dam2_m03_uf2_poo_shop/src/main/Shop.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="main.Shop"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="dam1_m03_uf3_poo_shop"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="dam2_m03_uf2_poo_shop"/>
</launchConfiguration>
